* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: #ff3d00 solid 1px; */
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    --background: #292929;
    --text-color: #fff;
    --background-header: #333;
    --text-color-nav: #fff;
    --background-project: #292929;
    --text-color-project: rgb(145, 145, 145);
    --text-color-h1: rgb(200, 200, 200);
    --nav-color: #ff3d00;
}

body.light {
    --background: #fff;
    --text-color: #292929;
    --background-header: #aaa;
    --text-color-nav: #292929;
    --background-project: #fff;
    --text-color-project: #292929;
    --text-color-h1: #292929;
    --nav-color: rgb(96, 109, 251);
}

.header {
    background-color: var(--background-header);
    color: var(--text-color);
    text-align: center;
    padding: 20px;
    width: 55%;
    margin: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

footer {
    color: var(--text-color);
    padding: 20px;
    width: auto;
    margin-top: auto;
    bottom: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(98, 98, 98, 0.177);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.project {
    margin-bottom: 20px;
    padding: 20px;
    background-color: var(--background-project);
    color: var(--text-color-project);
    border-radius: 5px;
}
.Links {
    margin-left: 4%;
    margin-right: 4%;
}
.footer-links{
    margin-bottom: 2%;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav-links {
    padding: 28px 0;
    font-size: 25px;
    margin-top: 3%;

}

.nav-links li {
    display: inline-block;
    margin: 0 15px;

}

.nav-links li a {
    text-decoration: none;
    color: var(--text-color-nav);
    padding: 5px 0;
    position: relative;
}

.nav-links li a::after {
    content: '';
    background: var(--nav-color);
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}
.submit-button a::before {
    content: '';
    background: var(--nav-color);
    width: 0%;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.5s;
}

.nav-links li a:hover::after {
    width: 100%;

}
.submit-button a:hover::before {
    width: 100%;

}

a {
    color: inherit;
    text-decoration: none;
}

label {
    color: var(--text-color);
    position: absolute;
    width: 45px;
    height: 21px;
    right: 20px;
    top: 20px;
    border: 2px solid;
    border-radius: 20px;
}

label::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    left: 1px;
    top: 1px;
    border-radius: 50%;
    cursor: pointer;
    background: var(--text-color);
    transition: 0.4s;
}

label.active::before {
    left: 24px;
}

input[type=text] {
    border: 2px solid #000000;
    border-radius: 4px;

}

textarea {
    border: 2px solid #000000;
    border-radius: 4px;

}

input[type=submit] {
    text-decoration: none;
    color: black;
    padding: 5px 0;
    position: relative;
    border: 2px solid #000000;
}
